p {

    font-size: 1.2rem;
    color: white;
}

h1 {

    color: aqua;
    font-size: 2.2rem;
}

h2 {

    color: aqua;
    font-size: 1.8rem;
}

.doc-body {
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 2px solid aqua;
    height: auto;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}

.parGen {
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.titleGen {
    padding-top: 50px;
    padding-bottom: 10px;
}

.myImg {

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    border: 2px solid black;

}
