@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

:root {
    --dc: aqua;
}

body {
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    position: relative;
}

#ul-nb {
    list-style: none;
    margin:2px;
    padding:3px;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration-line: none;
}

#ul-nb li {
    float:left;
    padding:10px;
    background:none;
    text-align: center;
    margin-left:5px;
}

#ul-nb li:hover {
    color:transparent;
    opacity:0.8;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2F2F2F;
}

::-webkit-scrollbar-thumb {
    border: 2px solid var(--dc);
    border-radius: 5px;
}

::-webkit-scrollbar:horizontal{
    height: 10px;
}
::-webkit-scrollbar-thumb:horizontal{
    background: #2F2F2F;
    border-radius: 10px;
}

.capTbName {
    font-size: 2rem;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: var(--dc);
    display: table-caption;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid var(--dc);
}

.capForeign {
    font-size: 1.4rem;
    display: table-caption;
    text-align: center;
    padding: 30px;
    caption-side:bottom;
    color: white;
    text-decoration: underline;
}

.capForeign:hover {
    cursor: pointer;
}

.finalBox {

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

.searchBox {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    transition: .5s;
}

.showAnt {
    color: white;
    transition: .7s;
    font-size: 2.8rem;
    text-align: center;
    border-radius: 25px;
    color: var(--dc);
    font-weight: 100;
}

.showAnt:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.midTable {
    padding: 10px;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.btnSearchBox {
    font-family: 'Quicksand', sans-serif;
    width: auto;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border: 2px solid aqua;
    color: aqua;
    background: none;
}

.downloadBtn {

    color: var(--dc);
    border: 0px solid var(--dc);
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-radius: 25px;
    width: 100%;
    outline: none;
    font-size: 1.3rem;
    margin-bottom: 50px;
}

.checkBoxClass {

    width: 30px !important;
    height: 30px !important;
    margin: 5px;
    outline: none;
    filter: hue-rotate(30deg);
    box-shadow: none;
    font-size: 2em;
}

.checkBoxClass:hover {
    cursor: pointer;
}

.intervalClass {

    font-family: 'Quicksand', sans-serif;
    background-color: #2f2f2f;
    outline: none;
    border: none;
    color: white;
}

.btnSend {

    font-family: 'Quicksand', sans-serif;
    width: auto;
    text-align: center;
    font-size: 20px;
    width: 50%;
    height: 50px;
    text-align: center;
    margin: 10px;
    font-size: 3rem;
    border-radius: 25px;
    outline: none;
    border: none;
    color: black;
}

.midBox {

    border: 0px solid black;
    border-radius: 25px;
    width: 80%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid var(--dc);
}

::selection {
    background-color: rgb(60,60,60);
    color: white;
}

.sf {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    margin-top: 50px;
}

p, h2 {
    font-size: 25px;
    text-align: center;
}

a {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

td, tr, button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

button:hover {
    cursor: pointer;
}


h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table{
    width: 100%;
    table-layout: fixed;
}

.tbl-header{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.3);
    width:90%;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid var(--dc);
    border-right: 2px solid var(--dc);
    border-top: 2px solid var(--dc);
}

.tbl-content{
    margin-bottom: 50px;
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    width:90%;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid var(--dc);
    border-right: 2px solid var(--dc);
    border-bottom: 2px solid var(--dc);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.type {
    font-family: 'Quicksand', sans-serif;
    color: var(--dc);
    font-size: 1.1rem;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--dc);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 80%;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


section {
    margin: 50px;
}

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}

.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.made-with-love a {
    color: #fff;
    text-decoration: none;
}
.made-with-love a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    idth: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body {
    background: #2F2F2F;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.TN {
    color: var(--dc);
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 100;
    text-transform: uppercase;
}
